<h2>Virtuozzo Hybrid Cloud Sign-Up</h2>
<div class="vhc-singup-wrapper">
    <div class="vhc-singup-left">
        <ul>
            <li><a href="#vhc-step-1" class="active"><span>1</span>Contact<br/>Details</a></li>
            <li><a href="#vhc-step-2"><span>2</span>Account<br/>Setup</a></li>
            <li><a href="#vhc-step-3"><span>3</span>Distribution<br/>Partner</a></li>
        </ul>
    </div>
    <div class="vhc-singup-right">
        <form action="#">
            <div id="vhc-step-1" class="vhc-step active">
                <h3>Contact Information</h3>
                <p class="step-description">Please enter your business email address - we need this to activate your
                    account and provide your
                    Virtuozzo Hybrid Cloud service.</p>
                <div class="form-row">
                    <div class="form-field">
                        <label for="firstName" class="sr-only">
                            First name
                        </label>
                        <input type="text" id="firstName" name="firstName" placeholder="First Name *" value="">
                    </div>
                    <div class="form-field">
                        <label for="lastName" class="sr-only">
                            Last name
                        </label>
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name *" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <label for="email" class="sr-only">
                            Email
                        </label>
                        <input type="text" id="email" name="email" placeholder="Email *"
                               value="">
                    </div>
                    <div class="form-field">
                        <label for="company" class="sr-only">
                            Company
                        </label>
                        <input type="text" id="company" name="company" placeholder="Company *" value="">
                    </div>
                </div>
                <label for="newsletter" class="checkbox">
                    <input type="checkbox" id="newsletter" name="newsletter">
                    <span>I would like to receive news about Virtuozzo products and upcoming events. I understand that I can opt-out at any time.</span>
                </label>
                <label for="terms" class="checkbox">
                    <input type="checkbox" id="terms" name="terms">
                    <span>I have read and agree to the <a href="https://www.virtuozzo.com/legal/privacy-notice/"
                                                          target="_blank">Privacy Notice</a> and <a
                                href="https://www.virtuozzo.com/legal/cookie-policy/" target="_blank">Cookie Policy</a> *</span>
                </label>
                <label for="trial" class="checkbox">
                    <input type="checkbox" id="trial" name="trial">
                    <span>I agree to the <a
                                href="https://www.virtuozzo.com/legal/virtuozzo-hybrid-cloud-services-terms-and-conditions/"
                                target="_blank">Terms of Service</a>, <a
                                href="https://www.virtuozzo.com/legal/hybrid-cloud-free-trial-conditions/"
                                target="_blank">Trial Conditions</a> and <a
                                href="https://www.virtuozzo.com/hybrid-cloud/"
                                target="_blank">Cloud Pricing</a> *</span>
                </label>
                <div class="step-switcher">
                    <span class="vhc-prev">Back</span>
                    <span class="vhc-next">Next</span>
                </div>
            </div>
            <div id="vhc-step-2" class="vhc-step">
                <h3>Account Setup and Billing Address</h3>
                <p class="step-description">Finally, please create a secure password for your account, and provide your
                    business billing address
                    and contact number.</p>
                <div class="form-row">
                    <div class="form-field">
                        <label for="password" class="sr-only">
                            Password
                        </label>
                        <span class="password-status">
                            <span class="pass-status-bar">
                                <span class="pass-status-bar-progress"></span>
                            </span>
                            <span class="pass-status-label"></span>
                        </span>
                        <span class="password-info">
                            <span>i</span>
                            <p><strong>Tips for a good password</strong><br/>Use both upper and lowercase characters<br/>Include at least one symbol (# $ ! % & etc...)<br/>Don't use dictionary words</p>
                        </span>
                        <input type="password" id="password" name="password" placeholder="Password *"
                               value="">
                    </div>
                    <div class="form-field">
                        <label for="password-2" class="sr-only">
                            Confirm Password
                        </label>
                        <input type="password" id="password-2" name="password-2" placeholder="Confirm Password *">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <label for="street" class="sr-only">
                            Street Address
                        </label>
                        <input type="text" id="street" name="street" placeholder="Street Address *"
                               value="">
                    </div>
                    <div class="form-field">
                        <label for="country" class="sr-only">
                            Country
                        </label>
                        <select name="country" id="country" class="form-control">
                            <option value="AF">Afghanistan</option>
                            <option value="AX">Aland Islands</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AS">American Samoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctica</option>
                            <option value="AG">Antigua And Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia</option>
                            <option value="BA">Bosnia And Herzegovina</option>
                            <option value="BW">Botswana</option>
                            <option value="BR">Brazil</option>
                            <option value="IO">British Indian Ocean Territory</option>
                            <option value="BN">Brunei Darussalam</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="IC">Canary Islands</option>
                            <option value="CV">Cape Verde</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CX">Christmas Island</option>
                            <option value="CC">Cocos (Keeling) Islands</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo</option>
                            <option value="CD">Congo, Democratic Republic</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">Cote D'Ivoire</option>
                            <option value="HR">Croatia</option>
                            <option value="CW">Curacao</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FK">Falkland Islands (Malvinas)</option>
                            <option value="FO">Faroe Islands</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="GF">French Guiana</option>
                            <option value="PF">French Polynesia</option>
                            <option value="TF">French Southern Territories</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="GL">Greenland</option>
                            <option value="GD">Grenada</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GG">Guernsey</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea-Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HM">Heard Island &amp; Mcdonald Islands</option>
                            <option value="VA">Holy See (Vatican City State)</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IM">Isle Of Man</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="JE">Jersey</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KI">Kiribati</option>
                            <option value="KR">South Korea</option>
                            <option value="XK">Kosovo</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Lao People's Democratic Republic</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LS">Lesotho</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libyan Arab Jamahiriya</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MO">Macao</option>
                            <option value="MK">Macedonia</option>
                            <option value="MG">Madagascar</option>
                            <option value="MW">Malawi</option>
                            <option value="MY">Malaysia</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malta</option>
                            <option value="MH">Marshall Islands</option>
                            <option value="MQ">Martinique</option>
                            <option value="MR">Mauritania</option>
                            <option value="MU">Mauritius</option>
                            <option value="YT">Mayotte</option>
                            <option value="MX">Mexico</option>
                            <option value="FM">Micronesia, Federated States Of</option>
                            <option value="MD">Moldova</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolia</option>
                            <option value="ME">Montenegro</option>
                            <option value="MS">Montserrat</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MM">Myanmar</option>
                            <option value="NA">Namibia</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="AN">Netherlands Antilles</option>
                            <option value="NC">New Caledonia</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="NU">Niue</option>
                            <option value="NF">Norfolk Island</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK">Pakistan</option>
                            <option value="PW">Palau</option>
                            <option value="PS">Palestine, State of</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Reunion</option>
                            <option value="RO">Romania</option>
                            <option value="RW">Rwanda</option>
                            <option value="BL">Saint Barthelemy</option>
                            <option value="SH">Saint Helena</option>
                            <option value="KN">Saint Kitts And Nevis</option>
                            <option value="LC">Saint Lucia</option>
                            <option value="MF">Saint Martin</option>
                            <option value="PM">Saint Pierre And Miquelon</option>
                            <option value="VC">Saint Vincent And Grenadines</option>
                            <option value="WS">Samoa</option>
                            <option value="SM">San Marino</option>
                            <option value="ST">Sao Tome And Principe</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SN">Senegal</option>
                            <option value="RS">Serbia</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SG">Singapore</option>
                            <option value="SK">Slovakia</option>
                            <option value="SI">Slovenia</option>
                            <option value="SB">Solomon Islands</option>
                            <option value="SO">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="GS">South Georgia And Sandwich Isl.</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SS">South Sudan</option>
                            <option value="SR">Suriname</option>
                            <option value="SJ">Svalbard And Jan Mayen</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="TW">Taiwan</option>
                            <option value="TJ">Tajikistan</option>
                            <option value="TZ">Tanzania</option>
                            <option value="TH">Thailand</option>
                            <option value="TL">Timor-Leste</option>
                            <option value="TG">Togo</option>
                            <option value="TK">Tokelau</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinidad And Tobago</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TC">Turks And Caicos Islands</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US" selected="selected">United States</option>
                            <option value="UM">United States Outlying Islands</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VE">Venezuela</option>
                            <option value="VN">Viet Nam</option>
                            <option value="VG">Virgin Islands, British</option>
                            <option value="VI">Virgin Islands, U.S.</option>
                            <option value="WF">Wallis And Futuna</option>
                            <option value="EH">Western Sahara</option>
                            <option value="YE">Yemen</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <label for="city" class="sr-only">
                            City
                        </label>
                        <input type="text" id="city" name="city" placeholder="City *"
                               value="">
                    </div>
                    <div class="form-field">
                        <label for="state" class="sr-only">
                            State
                        </label>
                        <input type="text" id="state" name="state" placeholder="State *">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <label for="phone" class="sr-only">
                            Phone Number
                        </label>
                        <input type="text" id="phone" name="phone" placeholder="Phone Number *"
                               value="">
                    </div>
                    <div class="form-field">
                        <label for="postcode" class="sr-only">
                            Postcode
                        </label>
                        <input type="text" id="postcode" name="postcode" placeholder="Postcode *">
                    </div>
                </div>
                <div class="step-switcher">
                    <span class="vhc-prev">Back</span>
                    <span class="vhc-next">Next</span>
                </div>
            </div>
            <div id="vhc-step-3" class="vhc-step ">
                <h3>Distribution Partner</h3>
                <p class="step-description">
                    <% if(sKey) { %>
                        Virtuozzo Hybrid Cloud is available through the network of certified distributors across various regions. Your selected distributor will collaborate closely with you to ensure the best business experience possible.
                    <% } else { %>
                            Based on your location, we recommend the distribution partner selected
                            below. Your distributor will
                            take care of billing for usage beyond your free trial resource and time limit. You can see all
                            distributors <a href="https://www.virtuozzo.com/value-added-distributors/" target="_blank">here</a>.
                    <% } %>
                </p>

                <div class="distributors-slider">
                    <% for (var i = 0, oDistributor; oDistributor = oDistributors[i]; i++) { %>
                        <div class="distributor">
                            <div class="distributor-inner">
                                <div class="logo"><img src="https://www.virtuozzo.com/vhc-signup/img/logos/<%= oDistributor.img %>"
                                                       alt="<%= oDistributor.name %>"></div>
                                <div class="loc"><span><%= oDistributor.location %></span></div>
                                <input type="radio" name="hoster_link" value="<%= oDistributor.key %>"
                                       data-id="<%= oDistributor.id %>"></div>
                        </div>
                    <% } %>
                </div>
                <label for="data_disclosure_to_distributor" class="checkbox">
                    <input type="checkbox" id="data_disclosure_to_distributor"
                           name="data_disclosure_to_distributor">
                    <span>I consent my data (name, company name, email, billing address and usage data) to be disclosed by the relevant Virtuozzo entity (as set out in the <a
                                href="https://www.virtuozzo.com/legal/virtuozzo-hybrid-cloud-services-terms-and-conditions/"
                                target="_blank">Terms of Service</a>) to the<% if(!sKey) {%> selected<% } %> distributor<% if(sKey) {%> <%= sKey %><% } %>, as described in the <a href="https://www.virtuozzo.com/legal/data-disclosure-notice" target="_blank">Data Disclosure Notice</a>, for the purpose of me entering into a contract with that distributor for the usage of Virtuozzo Hybrid Cloud, as well as for the purpose of subsequent billing on completion of trial. I understand that I can withdraw my consent at any time by emailing <a
                                href="mailto:privacy@virtuozzo.com">privacy@virtuozzo.com</a>. Virtuozzo processes personal data (personal information) as set out in its <a
                                href="https://www.virtuozzo.com/legal/privacy-policy/" target="_blank">Privacy Notice</a> and, where relevant, its <a
                                href="https://www.virtuozzo.com/legal/privacy-notice/#link13" target="_blank">California Privacy Rights Notice</a>. *</span>
                </label>
                <div class="step-switcher">
                    <span class="vhc-prev">Back</span>
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="vhc-success">
        <h3>Success!</h3>
        <p>We've sent you a welcome email with your log-in details, and guides on how to get started.</p>
        <img src="<%= baseUrl %>vhc-signup/img/success-img.svg" alt="success img">
    </div>
</div>